/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem

/ext/r_bridge/*.o
/ext/r_bridge/*.so
/ext/r_bridge/*.dll
/ext/r_bridge/Makefile
/ext/r_bridge/Makefile.local
/ext/r_bridge/mkmf.log
/ext/r_bridge/build

/lib/r_bridge/*.so
/lib/r_bridge/*.dll

